services:
  postgres:
    image: postgres:16
    container_name: frontier-project
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
      POSTGRES_DB: frontier
    ports:
      - "5432:5432"
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"
    volumes:
      - ./src/main/resources/db/migration:/docker-entrypoint-initdb.d
